* {
  box-sizing: border-box;
}
body {
  margin: 0;
  min-width: 250px;
  background-color: #191622;
  color: #f0f0f0;
  font-family: "Roboto", sans-serif;
}
.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}
ul {
  margin: 0;
  padding: 0;
}
/* Style the list items */
ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: transparent;
  font-size: 18px;
  transition: 0.2s;
  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
  /* background: #f9f9f9;
    */
}
/* Darker background-color on hover */
ul li:hover {
  background: #7159c1;
}
/* When clicked on, add a background color and strike out text */
ul li.checked {
  background: rgba(200, 200, 200, 0.3);
  color: #fff;
  text-decoration: line-through;
}
/* Add a "checked" mark when clicked on */
ul li.checked::before {
  content: "";
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}
/* Style the close button */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}
.close:hover {
  background-color: rgba(130, 702, 205, 0.3);
  color: white;
}
/* Style the header */
.card__todo {
  margin: 5px;
  background-color: transparent;
  padding: 30px 40px;
  color: white;
  text-align: center;
}
/* Clear floats after the header */
.card__todo:after {
  content: "";
  display: table;
  clear: both;
}
/* Style the input */
input {
  margin: 0;
  border: none;
  border-radius: 5px 0px 0px 5px;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
  background-color: #f4f5f6;
  color: #1b2d20;
}
::placeholder {
  color: #1b2d20;
}
/* Style the "Add" button */
.btn__add {
  padding: 10px;
  width: 15%;
  background: #7159c1;
  color: #fff;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0px 5px 5px 0px;
}
.btn__add:hover {
  background-color: rgba(200, 200, 200, 0.3);
}
